//! **************************************************************************
// Written by: Map P.58f on Thu Apr 28 01:41:23 2022
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "F14" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "G15" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "H15" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "ROT_SHAFT_A" LOCATE = SITE "K18" LEVEL 1;
COMP "ROT_SHAFT_B" LOCATE = SITE "G18" LEVEL 1;
COMP "LED0" LOCATE = SITE "F12" LEVEL 1;
COMP "LED1" LOCATE = SITE "E12" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "F15" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

