NET "ROT_SHAFT_B" LOC = "G18" | PULLUP;
NET "ROT_SHAFT_A" LOC = "K18" | PULLUP;
NET "CLK" LOC = "C9";
NET "HSYNC" LOC = "F15";
NET "VSYNC" LOC = "F14";
NET "RGB<2>" LOC = "H14";
NET "RGB<1>" LOC = "H15";
NET "RGB<0>" LOC = "G15";
NET "LED1" LOC = "E12" | IOSTANDARD = LVTTL;
NET "LED0" LOC = "F12" | IOSTANDARD = LVTTL;